# ===========================================
# BACKEND - Environment Variables
# ===========================================

NODE_ENV=development
PORT=3001

# MongoDB Atlas
MONGODB_URI=mongodb+srv://your-username:your-password@your-cluster.mongodb.net/your-database?appName=YourAppName

# Admin seed
ADMIN_SEED_EMAIL=admin@example.com
ADMIN_SEED_PASSWORD=Admin123!
ADMIN_SEED_NAME=System Admin
ADMIN_SEED_GENDER=Other
ADMIN_SEED_DATE_OF_BIRTH=1990-01-01
ADMIN_SEED_USERNAME=admin

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=redis123

# JWT
# JWT_SECRET=your-super-secret-jwt-key-change-in-production-min-32-chars
# JWT_EXPIRES_IN=7d
# JWT_REFRESH_SECRET=your-refresh-token-secret-change-in-production
# JWT_REFRESH_EXPIRES_IN=30d
JWT_SECRET_ACCESS_TOKEN=your-access-token-secret-change-in-production
ACCESS_TOKEN_EXPIRE_IN=15m
JWT_SECRET_REFRESH_TOKEN=your-refresh-token-secret-change-in-production
REFRESH_TOKEN_EXPIRE_IN=30d
JWT_SECRET_FORGOT_PASSWORD_TOKEN=your-forgot-password-token-secret-change-in-production
FORGOT_PASSWORD_TOKEN_EXPIRE_IN=1h
JWT_SECRET_EMAIL_VERIFY_TOKEN=your-email-verify-token-secret-change-in-production
EMAIL_VERIFYING_TOKEN_EXPIRE_IN=24h
# Bcrypt
BCRYPT_ROUNDS=12

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# CORS
CORS_ORIGIN=http://localhost:3000

# Swagger
ENABLE_SWAGGER=true

# Logging
LOG_LEVEL=debug

# Email
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=aiedumee@gmail.com
MAIL_PASSWORD= wvmu duzr sigt oywt
MAIL_FROM="EDUMEE <noreply@edumee.com>"

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:3001/api/v1/auth/google/callback
CLIENT_REDIRECT_CALLBACK=http://localhost:3000/oauth-success

# SePay Payment Gateway
SEPAY_ENV=sandbox
SEPAY_MERCHANT_ID=your_sepay_merchant_id
SEPAY_SECRET_KEY=your_sepay_secret_key
SEPAY_IPN_SECRET_KEY=your_sepay_ipn_secret_key
PAYMENT_PUBLIC_BASE_URL=http://localhost:3001
CLIENT_APP_URL=http://localhost:3000/payment-result
PAYMENT_RETURN_BASE_URL=http://localhost:3000/payment-result
